
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: darkgoldenrod;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color:darkred;
    color: darkgoldenrod;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 40px 0;
    background-color:whitesmoke;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.projeto {
    margin-bottom: 20px;
}

.projeto h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: darkred;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}
